[submodule "guided_diffusion"]
	path = guided_diffusion
	url = https://github.com/openai/guided-diffusion
[submodule "swav"]
	path = swav
	url = https://github.com/facebookresearch/swav
[submodule "mae"]
	path = mae
	url = https://github.com/dbaranchuk/mae
